html
  body
    p Olá,
    p Você solicitou alteração de senha para o sistema "Elo"
    p Para acessar, insira seus dados de acesso no link: http://10.160.12.251:3000/login
    p   
    p Login: #{email}  
    p Senha: #{pass}