html
  body
    p Olá #{name},
    p Seja bem-vindo ao sistema "ControllerHUB"
    p Para acessar, insira seus dados de acesso no link: http://10.160.12.251:3000/login
    p   
    p Login: #{email}  
    p Senha: #{pass}